{% extends "mailing/base.html" %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
        {% for message in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ message.subject }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ message.body | truncatechars:100 }}</li>
                    </ul>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_detail' message.pk %}" role="button">Подробнее</a>
                    {% if product.user == request.user %}
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_update' message.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_delete' message.pk %}" role="button">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}