{% extends "client/base.html" %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
        {% for client in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ client.full_name }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ client.email }}</li>
                    </ul>
                    {% if client.user == request.user %}
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'client:client_detail' client.pk %}" role="button">Подробнее</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}